@import '../../variables.scss';

.main {
  color: $black;
  max-width: 1000px;
  margin: auto;
  padding: 20px 60px 60px 60px;

}

.current {
  margin-top: 5px;
  font-size: 30px;
  font-weight: 500;
}

.sort {
  margin: 40px 0;

  font-size: 24px;
  font-weight: 500;

  ul li {
    margin-top: 10px;
  }

  .categoryNav {
    text-decoration: none;
    color: $black
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
  gap: 20px;
  justify-content: center;
  justify-items: center;
}