.item {
  display: grid;
  grid-template-rows: 150px 40px 15px 40px;
  gap: 15px;

  width: 150px;
}
.img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: .5s all ease-in-out;
}
.name {
  font-size: 20px;
  font-weight: 700;
}
.price {
  font-size: 14px;
  font-weight: 400;
}
.cartButton {
  position: relative;
  z-index: 10;
}
.imgWrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
}
.imgHover {
  scale: 1.05;
  transition: .5s all ease-in-out;
}