.item {
  display: grid;
  grid-template-rows: 150px 40px 15px 40px;
  gap: 15px;

  width: 150px;
}
img {
  width: 150px;
}
.name {
  font-size: 20px;
  font-weight: 700;
}
.price {
  font-size: 14px;
  font-weight: 400;
}