@import '../../variables.scss';

.navbar {
  max-width: 1000px;
  margin: auto;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  padding: 20px 60px;

  background-color: transparent;

  .logo {
    font-weight: 900;
    font-size: 35px;
    align-self: center;

    a {
      color: $black;

      text-decoration: none;
      font-style: italic;
    }
  }

}

.links {
  display: none;
}

.dropdown {
  display: flex;
  flex-direction: column;

  font-size: 60px;
  font-weight: 900;

  text-align: center;

  background-color: $white;

  a {
    text-decoration: none;
    color: $black;
    padding: 20px;
  }

}

@media screen and (min-width: 768px) {
  #hamburger {
    display: none;
  }
  .links {
    display: block;
  }
}