@import '../../../variables.scss';

.item {
  font-weight: 500;

  display: grid;
  grid-template-columns: 100px 150px;

  gap: 20px;

}
.imgWrapper {
  display: flex;
  img {
    width: 100px;
    align-self: center;
  }
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}
.itemName {
  font-weight: 700;
  font-size: 20px;
}
.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.buttonQuantity {
  font-size: 30px;
  font-weight: 300;
}
.removeButton {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 18px;
  font-weight: 300;
}
button {
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}
.quantityText {
  text-align: center;
  width: 50px;
  border-radius: 5px;
  border: 1px solid $grey;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}